Repository aveedg/aws, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Nathan10101010, @aveedg, @dylanh-2, @Johnathanamidi1919, @shaamirf

.github/CODEOWNERS:

# Backend team
/backend/** @Nathan10101010 @aveedg

# Frontend team
/frontend/** @dylanh-2

# AI team
/ai/** @Johnathanamidi1919 @shaamirf

# AWS infrastructure
/infrastructure/** @Johnathanamidi1919 @shaamirf
*.yml @Johnathanamidi1919 @shaamirf

redid folders
  .gitignore
  README.md
  ai/README.md
  docs/README.md
  frontend/README.md
  infrastructure/README.md
Owners: @Johnathanamidi1919, @shaamirf, @dylanh-2

temp requirements, .env
  backend/README.md
  backend/requirements.txt
Owners: @Nathan10101010, @aveedg

First app
  backend/app.py
  backend/templates/index.html
Owners: @Nathan10101010, @aveedg

commit
  ai/README.md
  frontend/README.md
  infrastructure/README.md
Owners: @Johnathanamidi1919, @shaamirf, @dylanh-2

save work
  windsurf-project/node_modules/.package-lock.json
  windsurf-project/node_modules/@esbuild/linux-x64/README.md
  windsurf-project/node_modules/@esbuild/linux-x64/package.json
  windsurf-project/node_modules/@rollup/rollup-linux-x64-gnu/README.md
  windsurf-project/node_modules/@rollup/rollup-linux-x64-gnu/package.json
  windsurf-project/node_modules/@rollup/rollup-linux-x64-gnu/rollup.linux-x64-gnu.node
  windsurf-project/node_modules/@rollup/rollup-linux-x64-musl/README.md
  windsurf-project/node_modules/@rollup/rollup-linux-x64-musl/package.json
  windsurf-project/node_modules/@rollup/rollup-linux-x64-musl/rollup.linux-x64-musl.node
Owners: none

SPACESHIP
  app.py
  backend/__init__.py
  backend/routes.py
Owners: @Nathan10101010, @aveedg

NEW SPACDESHIPO
  app.py
  backend/__init__.py
  backend/routes.py
Owners: @Nathan10101010, @aveedg

yes
  app.py
Owners: none

new file structure
  README.md
  backend/api/__init__.py
  backend/api/bedrock_client.py
  backend/api/routes.py
  backend/api/schemas.py
  backend/requirements.txt
  requirements.txt
Owners: @Nathan10101010, @aveedg

Frontend and backend with Claude model
  .gitignore
  App.css
  App.jsx
  ResultsPage.jsx
  WorldMap.jsx
  index.html
  main.jsx
  main.py
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
  tests/test_bedrock_endpoint.py
  vite.config.js
  worldMapData.js
Owners: none

IT WORKS!
  App.jsx
  main.py
  package-lock.json
  package.json
  server.log
Owners: none

Serving bananas
  App.jsx
  main.py
  server.log
Owners: none

s3 commit
  main.py
  server.log
Owners: none

comitted the tariff version
  ResultsPage.jsx
  main.py
  server.log
Owners: none

tariff version comitted
  ResultsPage.jsx
  server.log
Owners: none

newest version
  App.jsx
  ResultsPage.jsx
  main.py
  server.log
Owners: none

NEWEST WORKING
  ResultsPage.jsx
  main.py
  package-lock.json
  package.json
  postcss.config.js
  server.log
Owners: none

commit new
  App.jsx
  README.md
  ResultsPage.jsx
  main.py
  server.log
  test_search_system.py
  test_summary_feature.py
Owners: none

maybe a better verison
  App.jsx
  ResultsPage.jsx
  main.py
Owners: none

main update
  main.py
Owners: none

yes
  ai/README.md
  backend/README.md
  docs/README.md
  frontend/README.md
  infrastructure/README.md
Owners: @Johnathanamidi1919, @shaamirf, @Nathan10101010, @aveedg, @dylanh-2

Add files via upload
  App.css
  App.jsx
  ChatBot.jsx
  dist/assets/index-CjhFj3zh.js
  dist/assets/index-D49r1avn.css
  dist/index.html
  image.png
  image2.png
  index.html
  main.jsx
Owners: none

Add files via upload
  README.md
  ResultsPage.jsx
  WorldMap.jsx
  main.py
  package-lock.json
  package.json
  postcss.config.js
  server.log
  tailwind.config.js
  vite.config.mjs
  worldMapData.js
Owners: none
